# dependencies
/node_modules
/.pnp
.pnp.js
/.idea

# testing
/coverage

# production
/build
/builds
/out

# app
/app/node_modules
/app/yarn.lock
/app/build
/app/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
yarn.lock
package-lock.json