/*
 * Copyright Project Coda, LLC, 2022.
 * All rights reserved.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  @apply jetbrains-regular;
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

.jetbrains-regular {
  font-family: 'JetBrains Mono Regular';
}

.drag-region {
  -webkit-app-region: drag;
}

.drag-region-reserve {
  -webkit-app-region: no-drag;
}

.mb-full {
  margin-bottom: 100%;
}
