/*
 * Copyright Project Coda, LLC, 2022.
 * All rights reserved.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  @apply jetbrains-regular;
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

.jetbrains-regular {
  font-family: 'JetBrains Mono Regular';
}

.drag-region {
  -webkit-app-region: drag;
}

.drag-region-reserve {
  -webkit-app-region: no-drag;
}

.mb-full {
  margin-bottom: 100%;
}

.cursor-enabled::after {
  content: '';
  position: relative;
  top: 3px;
  right: 0px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  width: 5px;
  height: 18px;
  -webkit-animation: blink 1.5s step-end infinite;
  animation: blink 1.5s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
