/*
 * Copyright Project Coda, LLC, 2022.
 * All rights reserved.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  outline: none;
  @apply jetbrains-regular;
}

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

.jetbrains-regular {
  font-family: 'JetBrains Mono Regular';
}

.drag-region {
  -webkit-app-region: drag;
}

.drag-region-reserve {
  -webkit-app-region: no-drag;
}

.mb-full {
  margin-bottom: 100%;
}

.cursor-enabled::after {
  content: '';
  position: relative;
  top: 3px;
  right: 0px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  width: 5px;
  height: 18px;
  -webkit-animation: blink 1.5s step-end infinite;
  animation: blink 1.5s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-content {
  padding: 0 !important;
  border: none !important;
  width: auto !important;
  background: none !important;
}

.text-xs-c {
  font-size: 11.8px;
  line-height: 10px;
}

.text-xxs {
  font-size: 10px;
  line-height: 12px;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-900 rounded-[4px];
}

.popup-arrow {
  @apply text-gray-800 !important;
  stroke-width: 0px !important;
}

[role='tooltip'].popup-content {
  background-color: transparent;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

#popup-root {
  overflow: visible !important;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.05s cubic-bezier(0.38, 0.1, 0.36, 0.9);
  overflow: visible !important;
}
